BOT_TOKEN=""
LOGGER_BOT_TOKEN=""
ADMIN_BOT_TOKEN=""

DEV_BOT_TOKEN=""
DEV_ADMIN_BOT_TOKEN=""

ADDON_1_BOT_TOKEN=""
ADDON_2_BOT_TOKEN=""

-----------------------------------------

BEDROCK_API_KEY=""
CEREBRAS_API_KEY=""
MISTRAL_API_KEY=""
GEMINI_API_KEY=""
OPENROUTER_API_KEY=""
GROQ_API_KEY=""
POLLINATIONS_API_KEY=""
COHERE_API_KEY=""
CLOUDFLARE_API_KEY=""
CLOUDFLARE_ACCOUNT_ID=""
NAVY_API_KEY=""
VOID_API_KEY=""
MNN_API_KEY=""
NAGA_API_KEY=""
MEGALLM_API_KEY=""
ELECTRONHUB_API_KEY=""
AIRFORCE_API_KEY=""
LLM7_API_KEY=""
LLM_GATEWAY_API_KEY=""
ZANITY_API_KEY=""
ROUTEWAY_API_KEY=""
INCEPTION_API_KEY=""
NVIDIA_NIM_API_KEY=""
APERTIS_API_KEY=""
AQUADEVS_API_KEY=""
INFIP_API_KEY=""
TYPEGPT_API_KEY=""
A4F_API_KEY=""
PAXSENIX_API_KEY=""
AI_HUB_MIX_API_KEY=""
REQUESTY_AI_API_KEY=""

-----------------------------------------

LANGFUSE_PUBLIC_KEY=""
LANGFUSE_SECRET_KEY=""
IMGBB_API_KEY=""
CLOUDINARY_URL=""
GITHUB_TOKEN=""

-----------------------------------------

GRAFANA_API_KEY=""
SUPABASE_USER=""
SUPABASE_PASSWORD=""
SUPABASE_HOST=""
SUPABASE_PORT=""
SUPABASE_DBNAME=""