BOT_TOKEN="--- IGNORE ---"
LOGGER_BOT_TOKEN="--- IGNORE ---"
ADMIN_BOT_TOKEN="--- IGNORE ---"

DEV_BOT_TOKEN="--- IGNORE ---"
DEV_ADMIN_BOT_TOKEN="--- IGNORE ---"

MISTRAL_BOT_TOKEN="--- IGNORE ---"
GEMINI_BOT_TOKEN="--- IGNORE ---"
LLAMA_BOT_TOKEN="--- IGNORE ---"
EVILGPT_BOT_TOKEN="--- IGNORE ---"
DEEPSEEK_BOT_TOKEN="--- IGNORE ---"
PERPLEXITY_BOT_TOKEN="--- IGNORE ---"
CHATGPT_BOT_TOKEN="--- IGNORE ---"
GROK_BOT_TOKEN="--- IGNORE ---"
QWEN_BOT_TOKEN="--- IGNORE ---"
CLAUDE_BOT_TOKEN="--- IGNORE ---"
PHI_BOT_TOKEN="--- IGNORE ---"
KIMI_BOT_TOKEN="--- IGNORE ---"
GLM_BOT_TOKEN="--- IGNORE ---"
COMMAND_BOT_TOKEN="--- IGNORE ---"

CEREBRAS_API_KEY="--- IGNORE ---"
MISTRAL_API_KEY="--- IGNORE ---"
GEMINI_API_KEY="--- IGNORE ---"
OPENROUTER_API_KEY="--- IGNORE ---"
GROQ_API_KEY="--- IGNORE ---"
AIML_API_KEY="--- IGNORE ---"
BYTEZ_API_KEY="--- IGNORE ---"
POLLINATIONS_API_KEY="--- IGNORE ---"
COHERE_API_KEY="--- IGNORE ---"
CLOUDFLARE_WORKERS_API_KEY="--- IGNORE ---"
CLOUDFLARE_WORKERS_ACCOUNT_ID="--- IGNORE ---"
NAVY_API_KEY="--- IGNORE ---"
VOID_API_KEY="--- IGNORE ---"
MNN_AI_API_KEY="--- IGNORE ---"
ELECTRONHUB_API_KEY="--- IGNORE ---"

NSFW_CLASSIFIER_API_KEY="--- IGNORE ---"
CROWDIN_API_KEY="--- IGNORE ---"
OPIK_API_KEY="--- IGNORE ---"
SPEECHIFY_API_KEY="--- IGNORE ---"
TAVILY_API_KEY="--- IGNORE ---"
CLOUDINARY_URL="--- IGNORE ---"

DB_URL="--- IGNORE ---"
DB_KEY="--- IGNORE ---"
JWT_KEY="--- IGNORE ---"

DB_DIRECT_CONN="--- IGNORE ---"
DB_HOST="--- IGNORE ---"
DB_PORT="--- IGNORE ---"
DB_USER="--- IGNORE ---"
DB_PASSWORD="--- IGNORE ---"
DB_NAME="--- IGNORE ---"