BOT_TOKEN=""
LOGGER_BOT_TOKEN=""
ADMIN_BOT_TOKEN=""

DEV_BOT_TOKEN=""
DEV_ADMIN_BOT_TOKEN=""

ADDON_1_BOT_TOKEN=""
ADDON_2_BOT_TOKEN=""

-----------------------------------------

BEDROCK_API_KEY=""
POLLINATIONS_API_KEY=""
CEREBRAS_API_KEY=""
GROQ_API_KEY=""
GRATISFY_API_KEY=""

-----------------------------------------

LANGFUSE_PUBLIC_KEY=""
LANGFUSE_SECRET_KEY=""
IMGBB_API_KEY=""
CLOUDINARY_URL=""
GITHUB_TOKEN=""

-----------------------------------------

GRAFANA_API_KEY=""
SUPABASE_USER=""
SUPABASE_PASSWORD=""
SUPABASE_HOST=""
SUPABASE_PORT=""
SUPABASE_DBNAME=""