colorama
discord.py
faiss-cpu
fastapi
fastembed
langfuse
litellm
markitdown[all]
matplotlib
optimum[onnxruntime]
Pillow
psutil
psycopg2-binary
python-dotenv
python-magic
python-multipart
requests
tiktoken
tinydb
uvicorn
cairosvg
cloudinary
aiohttp
torch --index-url https://download.pytorch.org/whl/cpu
transformers
accelerate