chromadb
colorama
discord.py
fastapi
fastembed
langfuse
litellm
markitdown[all]
matplotlib
Pillow
psutil
psycopg2-binary
python-dotenv
python-magic
python-multipart
requests
tiktoken
uvicorn
cairosvg
cloudinary
aiohttp
torch --index-url https://download.pytorch.org/whl/cpu
transformers
accelerate